/*SOBRE*/

#imag-about{
    width: 100%;
    border-radius: 50px;
}
#about-tryangleit {
    width: 40%;
    margin: 20px;
}

#text-about{
    color: #CED3DB;
    font-family: Roboto;
    text-align: center;
}
/*END SOBRE*/
