/*SOBRE*/
#title-about{
    margin: 50px;
    font-size: 100px;
    color: #CED3DB;
    font-family: 'Autumn In November';
}
#imag-about{
    width: 100%;
    border-radius: 50px;
}
#about-tryangleit {
    width: 40%;
    margin: 20px;
}

#text-about{
    color: #CED3DB;
    font-family: Roboto;
    text-align: center;
}
/*END SOBRE*/
