/*BLOG*/
#title-blog{
    margin: 50px;
    font-size: 100px;
    color: #CED3DB;
    font-family: 'Autumn In November';
}
#imag-blog{
    border-radius: 20px;
    border: 2px solid #ced3db;
    padding: 5px;
    width: 65%;
    margin-bottom: 20px
}
#text-blog{
    margin: 0px 40px 0px 40px;
    color: #CED3DB;
    font-family: Roboto;
}
#bar-blog{
    border: 1px solid #CED3DB;
    margin: 20px 40px 20px 40px;
    border-radius: 2px;
}
#post-blog{
        background-color: #CED3DB23;
        padding: 50px 10px;
        border-radius: 20px;
        margin: 3% 4%;
        flex-direction: column;
        text-align: center;
    }
@media only screen and (max-width: 770px) {
    #post-blog{
        margin-left: 8%;
        text-align: center;
        background-color: #CED3DB23;
        border-radius: 20px;
    }
    #imag-blog {
        margin: 20px 0px 20px 0px;
        width: 200px;
    }

}
/*END BLOG*/
