/*ROBOTO*/
$font-path-rob: "../fonts/roboto";
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('#{$fa-font-path-rob}/Roboto-Regular.ttf');
    url('#{$fa-font-path-rob}/Roboto-Regular.ttf') format("ttf")
}

/*Autumn in November*/
$font-path-ain: "../fonts/autumn-in-november";
@font-face {
    font-family: 'Autumn In November';
    font-style: normal;
    font-weight: 400;
    src: url('#{$fa-font-path-ain}/Autumn in November.ttf') format("ttf")
}
