/*NAV BAR*/
@import "variables";
#back-nav-bar{
    margin-top: 10px;
    padding: 1px 1px 1px 296px;
    width: 585px;
    height: 8px;
    border-radius: 100px;
    color: $white-try-transparent;
}
#front-nav-bar{
    width: 38px;
    height: 100%;
    border-radius: 100px;
    color: $white-try;
}
#nav-bar-group-text{
    padding-top: 10px;
}
#imag-yyy{
    height: 40px;

}
#nav-bar-imag{
    margin: 5px 30px 0px 30px;
}
#nav-bar-text{
    margin: 10px 25px 10px 25px;
    font-family: roboto;

    text-decoration: none;
    display: inline-block;

}
#nav-bar-text:link,#nav-bar-text:visited, #nav-bar-text:hover, #nav-bar-text:active {
    color: $white-try;
}

@media only screen and (max-width: 770px) {
    #back-nav-bar, #front-nav-bar {

        width: 0px;
        height: 0px;
    }
    #nav-bar-text{
        text-align: center;
        font-size: xx-large;
        display: block;
    }
    #nav-bar-text:hover{
        font-weight: bold;
    }
    #imag-yyy{
        padding-left: 30%;
    }
}
/*END NAV BAR*/
