/*SERVICES*/
#card-service {
    font-family: 'Roboto', serif;
    text-align: center;
    background-color: #CED3DB23;
    color: #CED3DB;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
#icon-service{
    margin: 20px;
    border-radius: 100%;
    border: 3px solid #CED3DB;
    padding: 5px;
    width: 130px;
}
#title-card-services{
    margin: 10px 0px 20px 0px;
}
#form-services {
    font-family: 'Roboto';
    color: #CED3DB;

}

#cards-service{
    padding-bottom: 200px;
}



/*END SERVICES*/
